<h1> Facebook Clone </h1>
<%= link_to "Home", root_path %>
<% if current_user.present? %>
  <%= link_to "Log Out", signout_path %>
<% else %>
  <%= link_to "Log in", new_session_path %>
<% end %>
<%= link_to "Profile", statuses_path %>
